@model IEnumerable<TodoWebApp.Models.Todo>
<h1>Elenco attività</h1>

<partial name="_ErrorAlert" model=@TempData["ErrorMessage"] />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promemoria)
            </th>
            <th></th>            
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promemoria)
            </td>
            <td>
                <a asp-action="Details", asp-route-id="@item.Id">Dettagli</a> |
                <a asp-action="Edit", asp-route-id="@item.Id">Modifica</a> |
                @Html.ActionLink("Elimina", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
